[submodule "libs/human-pose-estimation.pytorch"]
	path = libs/human-pose-estimation.pytorch
	url = https://github.com/hguomin/human-pose-estimation.pytorch.git
[submodule "libs/MeshTransformer"]
	path = libs/MeshTransformer
	url = https://github.com/hguomin/MeshTransformer.git
[submodule "libs/apex"]
	path = libs/apex
	url = https://github.com/NVIDIA/apex

[submodule "libs/deep-high-resolution-net.pytorch"]
	path = libs/deep-high-resolution-net.pytorch
	url = https://github.com/hguomin/deep-high-resolution-net.pytorch
[submodule "libs/cocoapi"]
	path = libs/cocoapi
	url = https://github.com/cocodataset/cocoapi.git
[submodule "libs/coma.pythorch"]
	path = libs/coma.pythorch
	url = https://github.com/hguomin/pytorch_coma.git
